# Byte-code & Compilation
*.class
**/*.class

# Build / Output directories
bin/
**/bin/
target/
**/target/
build/
**/build/
out/
**/out/

# IDE and Editors
.idea/
**/.idea/
.vscode/
**/.vscode/
*.iml
**/*.iml
*.ipr
*.iws

# OS files
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db

# Secrets & Environment
.env
*.pem
*.key

# Logs & Temporary Files
*.log
**/*.log
*.tmp
**/*.tmp
